<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Inscription
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  style="background-color: whitesmoke">
  <form #f="ngForm" method="post" (ngSubmit)="onSubmit(f.value)">
    <ion-item lines="full">
      <ion-label position="floating">Nom</ion-label>
      <ion-input type="text" ngModel name="nom" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Prenom</ion-label>
      <ion-input type="text" required ngModel name="prenom" ></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Numero Tel</ion-label>
      <ion-input type="text" required ngModel name="num_tel" ></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" required ngModel name="email" ></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required ngModel name="password" ></ion-input>
    </ion-item>

    <ion-row class="ion-align-items-center">
      <ion-col>
        <ion-button type="submit" color="primary"  >Sign Up</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>

