ion-content {
    --ion-background-color: black;
}
ion-content{
	--ion-background-color: var(--ion-color-dark);
}
ion-content {
    --ion-background-color: linear-gradient(#f5af19, #f12711);
}
.flex {
    display: flex;
    justify-content: space-between;
}
:root {
    /** facebook **/
    --ion-color-facebook: #3b5999;
    --ion-color-facebook-rgb: 59, 89, 153;
    --ion-color-facebook-contrast: #ffffff;
    --ion-color-facebook-contrast-rgb: 255, 255, 255;
    --ion-color-facebook-shade: #324b81;
    --ion-color-facebook-tint: #476bb8;
  
    /** google **/
    --ion-color-google: #cd201f;
    --ion-color-google-rgb: 245, 61, 61;
    --ion-color-google-contrast: #ffffff;
    --ion-color-google-contrast-rgb: 255, 255, 255;
    --ion-color-google-shade: #cd201f;
    --ion-color-google-tint: #cd201f;
    
   
  }
  .ion-color-facebook {
  --ion-color-base: var(--ion-color-facebook) ;
  --ion-color-base-rgb: var(--ion-color-facebook-rgb) ;
  --ion-color-contrast: var(--ion-color-facebook-contrast) ;
  --ion-color-contrast-rgb: var(--ion-color-facebook-contrast-rgb) ;
  --ion-color-shade: var(--ion-color-facebook-shade);
  --ion-color-tint: var(--ion-color-facebook-tint) ;
}
.ion-color-google {
  --ion-color-base: var(--ion-color-google) ;
  --ion-color-base-rgb: var(--ion-color-google-rgb);
  --ion-color-contrast: var(--ion-color-google-contrast) ;
  --ion-color-contrast-rgb: var(--ion-color-google-contrast-rgb);
  --ion-color-shade: var(--ion-color-google-shade) ;
  --ion-color-tint: var(--ion-color-google-tint) ;
}
.logo {
    position: relative;
    height: 250px;
}

.logo ion-icon{
    font-size: 9em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}