<div *ngIf="validAchatSolde==0">
  <ion-header [translucent]="true">

    <ion-toolbar>

      <ion-title class="ion-text-center">
        Code Confirmation
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Paiement par solde</ion-title>
      </ion-toolbar>

    </ion-header>
    <div style="height: 10%;"></div>


    <br><br><br>
    <ion-item lines="full">
      <ion-label position="floating">Numero Tel :</ion-label>
      <ion-input type="text" required ngModel name="num_tel" [(ngModel)]="num_tel"></ion-input>
    </ion-item>
    <br><br>
    <ion-button expand="block" (click)=" AchatParSolde()">Valider</ion-button>

  </ion-content>
</div>
<div *ngIf="validAchatSolde==1">
  <ion-header [translucent]="true">

    <ion-toolbar>

      <ion-title class="ion-text-center">
        Paiement par solde
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Paiement par solde</ion-title>
      </ion-toolbar>

    </ion-header>
    <div style="height: 10%;"></div>


    <br><br><br>
    <ion-item lines="full">
      <ion-label position="floating">Code Confirmation d'achat :</ion-label>
      <ion-input type="text" required ngModel name="num_tel" [(ngModel)]="code"></ion-input>
    </ion-item>
    <br><br>
    <br>
    <ion-button expand="block" (click)="confirmationAchatParSolde()">Valider</ion-button>
    <br><br>
    <p style="color:white; font-size:12px;">Vérifiez votre mail s'il vous plait!</p>

  </ion-content>
</div>

