<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Suivre un bus
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="height: 10%;"></div>

  <ion-item>
    <ion-icon name="subway-outline"></ion-icon>
    <ion-label>Ligne</ion-label>
    <ion-input></ion-input>
  </ion-item>
  
    <ion-item>
      <ion-icon name="flag-outline"></ion-icon>
      <ion-label>Station actuelle</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="golf-outline"></ion-icon>
      <ion-label>Station d'arriver :</ion-label>
      <ion-input></ion-input>
    </ion-item>
</ion-content>
