<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Payer un abonnement
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="height: 8%;"></div>
  <ion-item>
    <ion-icon name="bookmark-outline"></ion-icon>
    <ion-label>Type d'abonnement</ion-label>
    <ion-input></ion-input>
  </ion-item>
  
    <ion-item>
      <ion-icon name="text-outline"></ion-icon>
      <ion-label>Nom</ion-label>
      <ion-input></ion-input>
      
    </ion-item>
  
    <ion-item>
      <ion-icon name="text-outline"></ion-icon>
      <ion-label>Prenom</ion-label>
      <ion-input></ion-input>
      
    </ion-item>

    <ion-item>
      <ion-icon name="mail-outline"></ion-icon>
      <ion-label>Email</ion-label>
      <ion-input></ion-input>
      
    </ion-item>
  
    <ion-item>
      <ion-icon name="map-outline"></ion-icon>
      <ion-label>Numero ligne</ion-label>
      <ion-input></ion-input>
      
    </ion-item>
    <ion-button expand="block">Valider</ion-button>
</ion-content>
